<h1>Editing Property Enlar Quality</h1>

<%= render 'form', property_enlar_quality: @property_enlar_quality %>

<%= link_to 'Show', @property_enlar_quality %> |
<%= link_to 'Back', property_enlar_qualities_path %>
