<h1>Editing Property Street Location</h1>

<%= render 'form', property_street_location: @property_street_location %>

<%= link_to 'Show', @property_street_location %> |
<%= link_to 'Back', property_street_locations_path %>
