<h1>Editing Property Water Rain Duct</h1>

<%= render 'form', property_water_rain_duct: @property_water_rain_duct %>

<%= link_to 'Show', @property_water_rain_duct %> |
<%= link_to 'Back', property_water_rain_ducts_path %>
