<h1>Editing Property Property Type</h1>

<%= render 'form', property_property_type: @property_property_type %>

<%= link_to 'Show', @property_property_type %> |
<%= link_to 'Back', property_property_types_path %>
