<h1>Editing Property Exterior Closure</h1>

<%= render 'form', property_exterior_closure: @property_exterior_closure %>

<%= link_to 'Show', @property_exterior_closure %> |
<%= link_to 'Back', property_exterior_closures_path %>
