<%= form_with(model: [@assessment, @property, PropertyBetweenFloorSlap.new], local: true, url: [@property.assessment, @property, @property_between_floor_slap]) do |form_bfs| %>
    <div class="field">
        <%= form_bfs.select :between_floor_slaps_id,BetweenFloorSlap.pluck(:name,:id), prompt: 'Elige Entre Piso', class:'form-control' %>
    </div>

    <div class="field">
        <%= form_bfs.hidden_field :property_id, value: @property.id  %>
    </div>

    <div class="actions">        
    <%= form_bfs.submit 'Añadir', class:'btn btn-primary', method: :post%>
    </div>
<% end %>