<h1>Editing Property</h1>

<%= render 'form', property: @property %>

<%= link_to 'Volve a propiedad', assessment_property_path(@property.assessment, @property) %>
<%= link_to 'Volver a tasacion', assessment_path(@property.assessment) %> |
