<h1>Editar datos de la propiedad</h1>

<%= render 'form', property: @property %>

<%= link_to 'Volve a propiedad', property_path(@property) %>
<%= link_to 'Volver a tasacion', assessment_path(@property.assessment) %> 
