<h1>Editing Property Maintenance</h1>

<%= render 'form', property_maintenance: @property_maintenance %>

<%= link_to 'Show', @property_maintenance %> |
<%= link_to 'Back', property_maintenances_path %>
