<h1>Editing Property Toilet Artifact</h1>

<%= render 'form', property_toilet_artifact: @property_toilet_artifact %>

<%= link_to 'Show', @property_toilet_artifact %> |
<%= link_to 'Back', property_toilet_artifacts_path %>
