<h1>Editing Property Interior Closure</h1>

<%= render 'form', property_interior_closure: @property_interior_closure %>

<%= link_to 'Show', @property_interior_closure %> |
<%= link_to 'Back', property_interior_closures_path %>
