<h1>Editing Property Between Floor Slap</h1>

<%= render 'form', property_between_floor_slap: @property_between_floor_slap %>

<%= link_to 'Show', @property_between_floor_slap %> |
<%= link_to 'Back', property_between_floor_slaps_path %>
