<h1>Editing Property Sec Characteristic</h1>

<%= render 'form', property_sec_characteristic: @property_sec_characteristic %>

<%= link_to 'Show', @property_sec_characteristic %> |
<%= link_to 'Back', property_sec_characteristics_path %>
