<h1>Editing Property Extern Termination</h1>

<%= render 'form', property_extern_termination: @property_extern_termination %>

<%= link_to 'Show', @property_extern_termination %> |
<%= link_to 'Back', property_extern_terminations_path %>
