<h1>Editing External Termination</h1>

<%= render 'form', external_termination: @external_termination %>

<%= link_to 'Show', @external_termination %> |
<%= link_to 'Back', external_terminations_path %>
